<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Leonis.TomatoTimer.UI.TomatoTimer" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Leonis.TomatoTimer.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Leonis.TomatoTimer.UI.TomatoTimer>
            <setting name="DisplayTitle" serializeAs="String">
                <value>TomatoTimer</value>
            </setting>
        </Leonis.TomatoTimer.UI.TomatoTimer>
    </applicationSettings>
    <userSettings>
        <Leonis.TomatoTimer.UI.Properties.Settings>
            <setting name="TomatoLength" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="BreakLength" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SetBreakLength" serializeAs="String">
                <value>30</value>
            </setting>
        </Leonis.TomatoTimer.UI.Properties.Settings>
    </userSettings>
</configuration>